@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500;1,700&family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------styling */

.contact-button {
    float: right;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-family: "roboto" sans-serif;
    font-size: 18px;
}



/*------------------header*/

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #524c4a;
    font-family: "Montserrat Alternates", sans-serif;
    margin-left: 25px;
    padding: 25px;
    height: 80px;
    background-color: #fff;
}

#hero-image {
    background: url("https://images.pexels.com/photos/4428290/pexels-photo-4428290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 600px;
    position: relative;
}

nav {
    bottom: 50px;
    position: absolute; 
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
}

#menu {
    list-style: none;
    
}

.menu-item {
    display: inline-block;
    padding: 30px;
    font-size: 25px;
}
