* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------styling */




/*------------------header*/

.logo {
 font-size: 30px;
 margin: 20px;
 text-transform: uppercase;
}

#hero-image {
    background: url("https://images.pexels.com/photos/4428290/pexels-photo-4428290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 600px;
    position: relative;
}

nav {
    bottom: 50px;
    position: absolute; 
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    width: 100%;
}

#menu {
    list-style: none;
    
}

.menu-item {
    display: inline-block;
    padding: 30px;
    font-size: 25px;
}
